body {
  background-color: #eeeeee; }

h1, h2, h3 {
  color: #333333;
  text-shadow: none; }

pre {
  background: white;
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.4); }
